:root {
  --color-body: #8a8a8a;
  --font-arvo: "Arvo", Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
}

*::selection {
  background: #72d8c7;
  color: #fff;
}
/* Typography */
.container {
  max-width: 1024px;
  margin: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-arvo);
}

/* Navigation Bar */

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem 1.5rem;
  align-items: center;
}

.nav > a {
  color: #fff;
}

.nav__menu-btn {
  background: dodgerblue;
  height: fit-content;
  border-radius: 50px;
  cursor: pointer;
}

.nav__menu-btn > p {
  margin: 0;
  padding: 1rem 1.3rem 1rem 2rem;
  font-size: 1.5rem;
}

.nav__brand {
  font-family: var(--font-arvo);
  font-size: 2.7rem;
  margin: 0;
  letter-spacing: 1px;
}

.nav__brand > a {
  color: #fff;
}

.nav__list {
  margin: 0;
  width: 100%;
}

.nav__item > a {
  color: #fff;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #14bd25;
  transform: translateX(5px);
}

.nav__item {
  padding: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .nav__menu-btn {
    display: none;
  }

  .nav__list {
    display: flex;
    width: auto;
    flex-direction: row;
    padding-right: 1.5rem;
    opacity: 1;
    max-height: 100vh;
  }

  .nav__item {
    padding: 0.5rem 2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding: 0;
}

/* Collapsibles */

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.8s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsible__content {
    opacity: 1;
    max-height: 100vh;
  }
}

/* Hero */

.hero {
  background: url(/images/forest_background@modified.jpg);
  background-size: cover;
  padding-bottom: 20rem;
  color: #fff;
}

.hero__tagline {
  font-size: 4.5rem;
  position: relative;
  top: 8rem;
  text-align: center;
  margin: 1rem;
}

.hero__tagline-highlight {
  color: #42db51;
  transition: all 0.5s;
  display: inline-block;
}

.hero__tagline-highlight:hover {
  color: #54b85e;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .hero__tagline {
    font-size: 5.5rem;
    text-align: left;
  }
}

@media screen and (max-width: 385px) {
  .hero__tagline {
    font-size: 4rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1 auto;
    gap: 5rem;
  }
}

/* Info block */

.info-block {
  box-shadow: 0 0 30px #e8e8e8;
  padding: 3rem;
  border-radius: 2rem;
  margin: 5rem 1rem;
}

.info__content {
  margin-bottom: 3rem;
}

.info__header {
  text-align: center;
  margin: 3rem 1rem;
}

.info__heading {
  font-size: 3.5rem;
  display: inline-block;
  transition: color 0.3s;
}

.info__heading:hover {
  color: rgb(223, 86, 22);
}

.info-content__heading {
  margin: 0;
  font-size: 3rem;
  display: inline-block;
  transition: all 0.5s;
}

.info-content__heading:hover {
  transform: translateX(1.5rem);
}

.info-content__img {
  border-radius: 2rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .info-block {
    padding: 6rem;
    margin-bottom: 7rem;
  }

  .info-block:nth-of-type(even) .info__content {
    order: 2;
  }
}

/* Slider */

.slider {
  width: 100%;
  max-width: 50vw;
  height: 30vw;
  overflow: hidden;
  border-radius: 15px;
  margin: 3rem auto;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.4s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slider__nav {
  position: relative;
  bottom: 4rem;
  display: flex;
  justify-content: center;
}

.sl__nav-bar {
  height: 10px;
  width: 50px;
  margin: 10px;
  border: 2px solid #fff;
}

.sl__nav-bar:hover {
  background-color: #fff;
}

input[name="slider__input"] {
  display: none;
}

#sl__img-1:checked ~ .img-1 {
  margin-left: 0;
}
#sl__img-2:checked ~ .img-1 {
  margin-left: -20%;
}
#sl__img-3:checked ~ .img-1 {
  margin-left: -40%;
}
#sl__img-4:checked ~ .img-1 {
  margin-left: -60%;
}
#sl__img-5:checked ~ .img-1 {
  margin-left: -80%;
}
