:root {
  --color-body: #afafaf;
}

/* Typography */
.container {
  max-width: 1024px;
  margin: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

a {
  text-decoration: none;
}

/* Navigation Bar */

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
  align-items: center;
}

.nav__menu-btn {
  background: dodgerblue;
  height: fit-content;
  border-radius: 50px;
  cursor: pointer;
}

.nav__menu-btn > p {
  margin: 0;
  padding: 1rem 1.3rem 1rem 2rem;
  font-size: 1.5rem;
  color: #f3f3f3;
}

.nav__brand {
  font-size: 2.7rem;
  margin: 0;
  letter-spacing: 1px;
}

.nav__list {
  margin: 0;
  width: 100%;
}

.nav__item {
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .nav__menu-btn {
    display: none;
  }

  .nav__list {
    display: flex;
    width: auto;
    flex-direction: row;
    padding-right: 1.5rem;
    opacity: 1;
    max-height: 100vh;
  }

  .nav__item {
    padding: 0.5rem 2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding: 0;
}

/* Collapsibles */

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsible__content {
    opacity: 1;
    max-height: 100vh;
  }
}
