<section class="hero">
  <!-- The Navigation Bar -->
  <header>
    <nav class="nav collapsible">
      <!-- TODO:when the logo of the web is ready replace it -->
      <p class="nav__brand"><a href="/">Naturelily</a></p>
      <span class="nav__menu-btn">
        <p>menu +</p>
      </span>
      <ul class="nav__list list collapsible__content">
        <li class="nav__item"><a href="#">Contact Us</a></li>
        <li class="nav__item"><a href="#">Something</a></li>
        <li class="nav__item"><a href="#">Donate</a></li>
      </ul>
    </nav>
  </header>
  <p class="hero__tagline">
    Help us to <br />
    <!-- TODO:if the class "tagline__highlight" become reusable change it. -->
    save <span class="hero__tagline-highlight">Nature</span> and <br />it's
    beauty
  </p>
</section>
