<section class="container slider">
  <div class="slides">
    <!-- here I am useing the "sl" for slider -->
    <input type="radio" name="slider__input" id="sl__img-1" />
    <input type="radio" name="slider__input" id="sl__img-2" />
    <input type="radio" name="slider__input" id="sl__img-3" />
    <input type="radio" name="slider__input" id="sl__img-4" />
    <input type="radio" name="slider__input" id="sl__img-5" />

    <div class="slide img-1">
      <img src="images/child-planting.jpg" alt="A child planting a tree" />
    </div>
    <div class="slide img-2">
      <img src="images/little-plant.jpg" alt="A girl showing plant" />
    </div>
    <div class="slide img-3">
      <img
        src="images/military-man-planting.jpg"
        alt="Military mans are planting trees"
      />
    </div>
    <div class="slide img-4">
      <img src="images/people-palanting.jpg" alt="Some people planting trees" />
    </div>
    <div class="slide img-5">
      <img src="images/tiny-plant.jpg" alt="A tiny-plant in hand." />
    </div>
  </div>
  <div class="slider__nav">
    <label for="sl__img-1" class="sl__nav-bar"></label>
    <label for="sl__img-2" class="sl__nav-bar"></label>
    <label for="sl__img-3" class="sl__nav-bar"></label>
    <label for="sl__img-4" class="sl__nav-bar"></label>
    <label for="sl__img-5" class="sl__nav-bar"></label>
  </div>
</section>
